<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 在哪里打印日志 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss,SSS} %m  (%F:%L) \n" />
		</layout>
	</appender>
	
	<logger name="java.sql">
		<level value="debug" />
	</logger>
	
	<logger name="org.apache.ibatis">
		<level value="debug" />
	</logger>
	<root>
		<level value="debug" />
		<appender-ref ref="STDOUT" />
	</root>
	<!-- 
		 FATAL       0  
		 ERROR       3  
		 WARN        4  
		 INFO        6  
		 DEBUG       7 
	-->
</log4j:configuration>
